bert_training/classifier/checkpoints
bert_training/classifier/__MACOSX
bert_training/classifier/2pageSessions.csv
bert_training/classifier/NewsAggregatorDataset.zip
bert_training/classifier/newsCorpora_re.csv
bert_training/classifier/newsCorpora.csv
bert_training/classifier/readme.txt
bert_training/classifier/chABSA-dataset
bert_training/classifier/chABSA-dataset.zip

bert_training/retrieval/stair_captions_*
bert_training/retrieval/STAIR-captions

screen_translator/__pycache__
screen_translator/.env

twitter_analytics/.env

wordnet/*.db

resources/*